 .modal-header h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.navbar {
    z-index: 1030; /* decrease the z-index to a value lower than the modal's z-index */
  }

button.close {
padding: 0;
background-color: transparent;
border: 0;
appearance: none;
}
.btn-close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
/*
.modal-header button.close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    outline: none !important;
    box-shadow: none !important;
} */
